@{
    ViewBag.Title = "Roles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb mb-4 mt-4">
    <li class="breadcrumb-item"><a href="index.html">Administrar</a></li>
    <li class="breadcrumb-item active">Roles</li>
</ol>

<div class="card">
    <div class="card-header">
        <i class="fas fa-user me-1"></i> Lista de Roles
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <button type="button" class="btn btn-success" onclick="abrirModal(null)">Agregar</button>
            </div>
        </div>

        <hr />

        <table id="tabla" class="display cell-border" style="width:100%">
            <thead>
                <tr>
                    <th>Nombre Rol</th>
                    <th>Descripción</th>
                    <th>Acciones</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<div class="modal fade" id="FormModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white">
                <h5 class="modal-title" id="exampleModalLabel">Agregar Rol</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input id="RolID" type="hidden" value="0" />

                <div class="mb-3">
                    <label for="rol" class="form-label">Nombre del Rol</label>
                    <input type="text" class="form-control" id="rol">
                </div>
                <div class="mb-3">
                    <label for="descripcion" class="form-label">Descripción</label>
                    <input type="text" class="form-control" id="descripcion">
                </div>

                <div id="mensajeError" class="alert alert-danger" role="alert" style="display:none;">
                    Todos los campos son obligatorios.
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" onclick="Guardar()">Guardar</button>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <!-- Incluye la librería de SweetAlert si no lo has hecho -->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
        var tabladata;

         $(document).ready(function() {
            tabladata = $("#tabla").DataTable({
                responsive: true,
                ordering: false,
                "ajax": {
                    url: '@Url.Action("ListarRoles", "Roles")',
                    type: "GET",
                    datatype: "json"
                },
                "columns": [
                    { "data": "Rol" },
                    { "data": "Descripcion" },
                    {
                        "defaultContent": '<button type="button" class="btn btn-primary btn-small btn-editar"><i class="fas fa-pen"></i></button>' +
                                          '<button type="button" class="btn btn-danger btn-small ms-2 btn-eliminar"><i class="fas fa-trash"></i></button>',
                        "orderable": false,
                        "searchable": false,
                        "width": "90px"
                    }
                ],
                "language": {
                    "url": "https://cdn.datatables.net/plug-ins/1.11.3/i18n/es_es.json"
                }
            });
         });

        function abrirModal(json) {
            $("#RolID").val(0);
            $("#rol").val("");
            $("#descripcion").val("");
            $("#mensajeError").hide();

            if (json != null) {
                $("#RolID").val(json.RolID);
                $("#rol").val(json.Rol);
                $("#descripcion").val(json.Descripcion);
                $("#exampleModalLabel").text("Editar Rol");
            } else {
                $("#exampleModalLabel").text("Agregar Rol");
            }

            $("#FormModal").modal("show");
        }

         function Guardar() {
            var Rol = {
                RolID: parseInt($("#RolID").val()),
                Rol: $("#rol").val(),
                Descripcion: ($("#descripcion").val())
            };

             if (Rol.Rol === "" || Rol.Descripcion === "") {
                $("#mensajeError").show();
                return;
            } else {
                $("#mensajeError").hide();
            }

            $.ajax({
                url: '@Url.Action("GuardarRol", "Roles")',
                type: "POST",
                data: JSON.stringify({ rol: Rol }),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    if (data.resultado) {
                        tabladata.ajax.reload();
                        $("#FormModal").modal("hide");
                    } else {
                        $("#mensajeError").text(data.mensaje);
                        $("#mensajeError").show();
                    }
                },
                error: function (error) {
                    $("#mensajeError").text("Error Ajax");
                    $("#mensajeError").show();
                }
            });
        }

        $(document).on("click", ".btn-editar", function () {
            var filaseleccionada = $(this).closest("tr");
            var data = tabladata.row(filaseleccionada).data();
            abrirModal(data);
        });


        $(document).on("click", ".btn-eliminar", function () {
            var filaseleccionada = $(this).closest("tr");
            var data = tabladata.row(filaseleccionada).data();
            Swal.fire({
                    title: "¿Estás seguro?",
                    text: "¡No podrás recuperar este archivo imaginario!",
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#3085d6",
                    cancelButtonColor: "#d33",
                    confirmButtonText: "¡Sí, bórralo!",
                    cancelButtonText: "Cancelar"
                }).then((result) => {
                    if (result.isConfirmed) {
                        $.ajax({
                            url: '@Url.Action("EliminarRol", "Roles")',
                            type: "POST",
                            data: JSON.stringify({ id: data.RolID }),
                            dataType: "json",
                            contentType: "application/json; charset=utf-8",
                            success: function (data) {
                                if (data.resultado) {
                                    tabladata.row(filaseleccionada).remove().draw();
                                    Swal.fire("¡Eliminado!", "El rol ha sido eliminado.", "success");
                                } else {
                                    Swal.fire("Error", data.mensaje, "error");
                                }
                            },
                            error: function (error) {
                                Swal.fire("Error", "Hubo un problema con la solicitud.", "error");
                            }
                        });
                    }
                });

        });

    </script>
}
